<div class="row">
<div class="col-xs-12">
    <mat-card>
        <form (submit)="onChange(postForm)" #postForm="ngForm">
        <div class="row">
            <div class="col-sm-5 form-group">
                <mat-form-field>
                    <input matInput
                           type="text"
                           name="name"
                            id="name"
                           ngModel
                           required
                           minlength="1"
                           placeholder="Enter A Name"
                           #name="ngModel">
                    <mat-error *ngIf="name.invalid">Please Enter A Name</mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-2 form-group" >
                <mat-form-field>
                    <input matInput
                           type="number"
                           name="amount"
                           id="amount"
                           ngModel
                           required
                           minlength="1"
                           placeholder="Enter An Amount"
                           pattern="^[1-9]+[0-9]*$"
                           #amount="ngModel">
                    <mat-error *ngIf="amount.invalid">Please Enter An Amount</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr>
                <button mat-raised-button
                        class="btn btn-success"
                        type="submit"
                        [disabled]="!postForm.valid">{{editMode ? 'Update' : 'Add'}}
                </button>
                <button mat-raised-button
                        class="btn btn-danger"
                        type="button"
                        (click)="onDelete()"
                        *ngIf="editMode">Delete
                </button>
                <button mat-raised-button
                        class="btn btn-primary"
                        type="button"
                        (click)="onClear()">Clear
                </button>
            </div>
        </div>
    </form>
    </mat-card>
</div>

</div>