<div class="row">
<div class="col-xs-12">
    <mat-card>
        <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <div class="row">
            <div class="col-sm-5 form-group">
                <mat-form-field>
                    <input matInput
                           type="text"
                           name="name"
                           ngModel
                           required
                           minlength="1"
                           placeholder="Enter A Title"
                           #name="ngModel">
                    <mat-error *ngIf="name.invalid">Please Enter A Name</mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-2 form-group" >
                <mat-form-field>
                    <input matInput
                           type="text"
                           name="amount"
                           ngModel
                           required
                           minlength="1"
                           placeholder="Enter An Amount"
                           #amount="ngModel">
                    <mat-error *ngIf="amount.invalid">Please Enter An Amount</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr>
                <button mat-raised-button
                        class="btn btn-success"
                        type="submit">Add
                </button>
                <button mat-raised-button
                        class="btn btn-danger"
                        type="button">Delete
                </button>
                <button mat-raised-button
                        class="btn btn-primary"
                        type="button">Clear
                </button>
            </div>
        </div>
    </form>
    </mat-card>
</div>

</div>